<!DOCTYPE html>
<html lang="zh-CN">
{include file="public:head"}
<body class="iframe_body">
<div class="warpper" id="app">
    <div class="content">
        <div class="explanation" id="explanation">
            <div class="ex_tit">
                <i class="sc_icon"></i><h4>操作提示</h4><span class="explanationZoom" title="收起提示"></span>

            </div>
            <ul>
                <li></li>
                <li>可搜索广告名称关键词进行查询，侧边栏可进行高级搜索。</li>
            </ul>
        </div>
        <div class="flexilist">
            <div class="common-head">
                <div class="fl">
                    <a href="javascript:void(0)" @click="add()">
                        <div class="fbutton">
                            <div class="add" title="添加广告"><span>
                                <i class="icon icon-plus"></i>添加广告</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="refresh">
                    <div class="refresh_tit" title="刷新数据" @click="pageFreash()">
                        <i class="icon icon-refresh"></i>
                    </div>
                    <div class="refresh_span">刷新 - 共{{count}}条记录</div>
                </div>
                <div class="search">
                    <div class="input">
                        <input type="text" name="keyword" v-model="keywords" class="text nofocus" placeholder="广告位名称"
                               autocomplete="off">
                        <input type="submit" name="secrch_btn" shoptype="secrch_btn" value="" class="btn"
                               @click="secrchInit()">
                    </div>
                </div>
            </div>
            <div class="common-content">
                <div class="list-div" id="listDiv">
                    <table cellpadding="0" cellspacing="0" border="0">
                        <thead>
                        <tr>
                            <th width="5%" class="sign">
                                <div class="tDiv">
                                    <input type="checkbox" name="all_list" class="checkbox" id="all_list"/>
                                    <label for="all_list" class="checkbox_stars"></label>
                                </div>
                            </th>
                            <th width="5%">
                                <div class="tDiv">编号</div>
                            </th>
                            <th width="10%">
                                <div class="tDiv">广告名称</div>
                            </th>
                            <th width="8%"><div class="tDiv">图片</div></th>
                            <th width="10%"><div class="tDiv">开始日期</div></th>
                            <th width="10%"><div class="tDiv">结束日期</div></th>

                            <th width="20%" class="handle">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <template v-for="(vo,index) in list">
                            <tr>
                                <td class="sign">
                                    <div class="tDiv">
                                        <input type="checkbox" name="checkboxes[]" :value="vo.ad_id"
                                               class="checkbox" :id="checkboxitem+vo.ad_id">
                                        <label :for="checkboxitem+vo.ad_id" class="checkbox_stars"></label>
                                    </div>
                                </td>
                                <td>
                                    <div class="tDiv">{{vo.ad_id}}</div>
                                </td>
                                <td>
                                    <div class="tDiv">
                                        <input name="sort_order" class="text w200" value="4" type="text"
                                               v-model="vo.ad_name" @keyup.enter="doupdate(vo)">
                                    </div>
                                </td>
                                <td>
                                    <div class="tDiv">
                                        <span class="show">
                                            <a :href="vo.ad_img"
                                               class="nyroModal">
                                                <i class="icon icon-picture" :data-tooltipimg="vo.ad_img+'?ctime='+time()" shoptype="tooltip" title="tooltip"></i>
                                            </a>
                                        </span>
                                    </div>
                                </td>
                                <td><div class="tDiv">{{vo.start_time_cn}}</div></td>
                                <td><div class="tDiv">{{vo.end_time_cn}}</div></td>

                                <td class="handle">
                                    <div class="tDiv a3">
                                        <a href="javascript:void(0)" title="编辑" class="btn_edit" @click="add(vo)">
                                            <i class="icon icon-edit"></i>
                                            编辑
                                        </a>
                                        <a href="javascript:void(0);" @click="dodelete(index)" class="btn_trash">
                                            <i class="icon icon-trash"></i>
                                            删除
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </template>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="12">
                                <div class="tDiv">
                                    <div class="tfoot_btninfo">
                                        <input type="submit" value="删除" id="btnSubmit"
                                               name="btnSubmit" shoptype="btnSubmit" class="btn btn_disabled"
                                               disabled="disabled" @click="doalldelete()">删除
                                    </div>
                                    <div class="list-page">
                                        <div id="turn-page"></div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script>
    var position_id = "{$position_id}";
    var vm = new Vue({
        el: '#app',
        data: {

            page: 1,
            rows: 10,
            count: 0,
            keywords: '',
            position_id: position_id,
            list: [],

            all_list: [],
            checkboxitem: 'checkbox_',

            ids: [],

        },
        methods: {
            time:function(){
                return Math.random();
            },
            add: function (vo = {}) {
                if (vo.ad_id) {
                    window.parent.addParentTab(
                        {
                            title: '编辑广告位',
                            href: '/admin/website/adadd?ad_id=' + vo.ad_id
                        }
                    );
                } else {
                    window.parent.addParentTab(
                        {
                            title: '添加广告位',
                            href: '/admin/website/adadd'
                        }
                    );
                }

            },
            doupdate: function (vo) {
                majax('/admin/website/doupdate', vo, 'ads')
            },
            pageFreash: function () {
                vm.page = 1;
                vm.rows = 10;
                vm.count = 0;
                vm.keywords = '';
                vm.init();
            },
            secrchInit: function () {
                vm.page = 1;
                vm.rows = 10;
                vm.count = 0;
                vm.init();
            },
            dodelete: function (index) {
                $.messager.confirm('提示', '确定删除吗？', function (r) {
                    if (r == true) {
                        $.post('/admin/website/dodelete', {
                            pageparm: JSON.stringify(vm.list[index]),
                            table: 'ads'
                        }, function (ret) {
                            if (ret.status == 1) {
                                vm.list.splice(index, 1);
                                $.messager.show({title: '提示', msg: ret.msg, timeout: 3000, showType: 'slide'});
                            } else {
                                $.messager.alert('提示', ret.msg, 'warning');
                            }
                        }, 'json');
                    }
                });
            },
            init: function () {
                $.post('/admin/website/adlist', {
                    page: vm.page,
                    rows: vm.rows,
                    keywords: vm.keywords,
                    position_id: vm.position_id,
                }, function (ret) {
                    vm.list = ret.data.list;
                    vm.count = ret.data.total;
                    if (vm.page == 1) {
                        pageinit();
                    }
                }, 'json');
            },
            doalldelete: function () {
                var arr = new Array();
                $(".list-div").find("input[name='checkboxes[]']:checked").each(function (i) {
                    arr[i] = $(this).val();
                });
                vm.ids = arr.join(",");
                $.messager.confirm('提示', '确定操作吗？', function (r) {
                    if (r == true) {
                        $.post('/admin/website/doalldelete', {
                            ids: vm.ids,
                            table: 'ads'
                        }, function (ret) {
                            if (ret.status == 1) {
                                vm.log_ids = [];
                                vm.pageFreash();
                                $.messager.show({title: '提示', msg: ret.msg, timeout: 3000, showType: 'slide'});
                            } else {
                                $.messager.alert('提示', ret.msg, 'warning');
                            }
                        }, 'json');
                    }
                });
            }
        },
        updated:function () {
            $.tooltipimg();
        }
    });
    $(function () {
        vm.init();
    });
</script>
