<!DOCTYPE html>
<html lang="zh-CN">
{include file="public:head"}
<body class="iframe_body">
<div class="warpper" id="app">
    <div class="content">
        <div class="explanation" id="explanation">
            <div class="ex_tit">
                <i class="sc_icon"></i><h4>操作提示</h4><span class="explanationZoom" title="收起提示"></span>

            </div>
            <ul>
                <li></li>
                <li>可搜索广告名称关键词进行查询，侧边栏可进行高级搜索。</li>
            </ul>
        </div>
        <div class="flexilist">
            <div class="common-head">
                <div class="fl">
                    <a href="javascript:void(0)" @click="add()">
                        <div class="fbutton">
                            <div class="add" title="添加楼层"><span>
                                <i class="icon icon-plus"></i>添加</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="refresh">
                    <div class="refresh_tit" title="刷新数据" @click="pageFreash()">
                        <i class="icon icon-refresh"></i>
                    </div>
                    <div class="refresh_span">刷新 - 共{{count}}条记录</div>
                </div>
                <div class="search">
                    <div class="input">
                        <input type="text" name="keyword" v-model="keywords" class="text nofocus" placeholder="名称"
                               autocomplete="off">
                        <input type="submit" name="secrch_btn" shoptype="secrch_btn" value="" class="btn"
                               @click="secrchInit()">
                    </div>
                </div>
            </div>
            <div class="common-content">
                <div class="list-div" id="listDiv">
                    <table cellpadding="0" cellspacing="0" border="0">
                        <thead>
                        <tr>
                            <th width="5%"><div class="tDiv">ID</div></th>
                            <th width="10%"><div class="tDiv">楼层名称</div></th>
                            <th width="10%"><div class="tDiv">商品分类</div></th>
                            <th width="10%"><div class="tDiv">排序</div></th>
                            <th width="10%"><div class="tDiv">显示状态</div></th>
                            <th width="20%" class="handle">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <template v-for="(vo,index) in list">
                            <tr>
                                <td><div class="tDiv">{{vo.id}}</div></td>
                                <td>
                                    <div class="tDiv">
                                        <input name="sort_order" class="text w200" value="4" type="text" v-model="vo.title" @keyup.enter="doupdate(vo)">
                                    </div>
                                </td>
                                <td>
                                    <div class="tDiv">
                                        <input name="sort_order" class="text w200" value="4" type="text" v-model="vo.cat_id" @keyup.enter="doupdate(vo)">
                                    </div>
                                </td>
                                <td>
                                    <div class="tDiv">
                                        <input name="sort_order" class="text w100" value="4" type="text" v-model="vo.sort" @keyup.enter="doupdate(vo)">
                                    </div>
                                </td>
                                <td>
                                    <div class="tDiv">
                                        <div class="switch" :class="{'active':vo.is_show==1}"
                                             @click="is_show_init(index)">
                                            <div class="circle"></div>
                                        </div>
                                    </div>
                                </td>

                                <td class="handle">
                                    <div class="tDiv a3">
                                        <a href="javascript:void(0)" title="编辑" class="btn_edit" @click="add(vo)">
                                            <i class="icon icon-edit"></i>
                                            编辑
                                        </a>
                                        <a href="javascript:void(0);" @click="dodelete(index)" class="btn_trash">
                                            <i class="icon icon-trash"></i>
                                            删除
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </template>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script>

    var vm = new Vue({
        el: '#app',
        data: {

            page: 1,
            rows: 10,
            count: 0,
            keywords: '',

            list: [],

            all_list: [],
            checkboxitem: 'checkbox_',

            ids: [],

        },
        methods: {
            add: function (vo = {}) {
                if (vo.id >0) {
                    layerOpenwinMid('编辑', '/admin/website/home_floor_add?id=' + vo.id);
                } else {
                    layerOpenwinMid('添加', '/admin/website/home_floor_add');
                }
            },
            is_show_init:function(index){
                if (vm.list[index].is_show == 0) {
                    vm.list[index].is_show = 1;
                } else {
                    vm.list[index].is_show = 0;
                }
                vm.doupdate(vm.list[index]);
            },
            doupdate: function (vo) {
                majax('/admin/website/doupdate', vo, 'home_floor')
            },
            pageFreash: function () {
                vm.page = 1;
                vm.rows = 10;
                vm.count = 0;
                vm.keywords = '';
                vm.init();
            },
            secrchInit: function () {
                vm.page = 1;
                vm.rows = 10;
                vm.count = 0;
                vm.init();
            },
            dodelete: function (index) {
                $.messager.confirm('提示', '确定删除吗？', function (r) {
                    if (r == true) {
                        $.post('/admin/website/dodelete', {
                            pageparm: JSON.stringify(vm.list[index]),
                            table: 'home_floor'
                        }, function (ret) {
                            if (ret.status == 1) {
                                vm.list.splice(index, 1);
                                $.messager.show({title: '提示', msg: ret.msg, timeout: 3000, showType: 'slide'});
                            } else {
                                $.messager.alert('提示', ret.msg, 'warning');
                            }
                        }, 'json');
                    }
                });
            },
            init: function () {
                $.post('/admin/website/home_floor', {
                    page: vm.page,
                    rows: vm.rows,
                    keywords: vm.keywords,

                }, function (ret) {
                    vm.list = ret.data.list;
                    vm.count = ret.data.total;
                    if (vm.page == 1) {
                        pageinit();
                    }
                }, 'json');
            }
        }
    });
    $(function () {
        vm.init();
    });
</script>
