<!DOCTYPE html>
<html lang="zh-CN">
{include file="public:head"}
<body class="iframe_body">
<div class="warpper" id="app">
    <div class="content">
        <div class="explanation" id="explanation">
            <div class="ex_tit">
                <i class="sc_icon"></i><h4>操作提示</h4><span class="explanationZoom" title="收起提示"></span>

            </div>
            <ul>
                <li>该页面展示OSS配置的列表信息。</li>
                <li>可以直接在列表页面进行编辑和删除。</li>
                <li>OSS可用于图片、音视频、日志等海量文件的存储。</li>
            </ul>
        </div>
        <div class="flexilist">
            <div class="common-head">
                <div class="fl">
                    <a href="javascript:void(0)" @click="add()">
                        <div class="fbutton">
                            <div class="add" title="添加OSS"><span>
                                <i class="icon icon-plus"></i>添加OSS</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="refresh">
                    <div class="refresh_tit" title="刷新数据" @click="pageFreash()">
                        <i class="icon icon-refresh"></i>
                    </div>
                    <div class="refresh_span">刷新 - 共{{count}}条记录</div>
                </div>
            </div>
            <div class="common-content">
                <div class="list-div" id="listDiv">
                    <table cellpadding="0" cellspacing="0" border="0">
                        <thead>
                        <tr>
                            <th width="5%" class="sign">
                                <div class="tDiv">
                                    <input type="checkbox" name="all_list" class="checkbox" id="all_list"/>
                                    <label for="all_list" class="checkbox_stars"></label>
                                </div>
                            </th>
                            <th width="5%"><div class="tDiv">编号</div></th>
                            <th width="10%"><div class="tDiv">平台</div></th>
                            <th width="10%"><div class="tDiv">绑定域名</div></th>
                            <th width="10%"><div class="tDiv">区域</div></th>
                            <th width="10%"><div class="tDiv">是否使用</div></th>

                            <th width="20%" class="handle">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <template v-for="(vo,index) in list">
                            <tr>
                                <td class="sign">
                                    <div class="tDiv">
                                        <input type="checkbox" name="checkboxes[]" :value="vo.id"
                                               class="checkbox" :id="checkboxitem+vo.id">
                                        <label :for="checkboxitem+vo.id" class="checkbox_stars"></label>
                                    </div>
                                </td>
                                <td><div class="tDiv">{{vo.id}}</div></td>
                                <td><div class="tDiv">{{vo.name}}</div></td>
                                <td><div class="tDiv">{{vo.domain}}</div></td>
                                <td><div class="tDiv">{{vo.area}}</div></td>
                                <td>
                                    <div class="tDiv">
                                        <div class="switch" :class="{'active':vo.is_use==1}" title="是"
                                             @click="doupdate(vo)">
                                            <div class="circle"></div>
                                        </div>
                                        <input type="hidden" value="0" name="">
                                    </div>
                                </td>
                                <td class="handle">
                                    <div class="tDiv a3">
                                        <a href="javascript:void(0)" title="编辑" class="btn_edit" @click="add(vo)">
                                            <i class="icon icon-edit"></i>
                                            编辑
                                        </a>
                                        <a href="javascript:void(0);" @click="dodelete(index)" class="btn_trash">
                                            <i class="icon icon-trash"></i>
                                            删除
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </template>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="12">
                                <div class="tDiv">
                                    <div class="tfoot_btninfo">
                                        <input type="submit" value="删除" id="btnSubmit"
                                               name="btnSubmit" shoptype="btnSubmit" class="btn btn_disabled"
                                               disabled="disabled" @click="doalldelete()">删除</div>
                                    <div class="list-page">
                                        <div id="turn-page"></div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script>
    var vm = new Vue({
        el: '#app',
        data: {
            page: 1,
            rows: 10,
            count: 0,
            keywords: '',
            list: [],

            all_list: [],
            checkboxitem: 'checkbox_',

            ids: [],

        },
        methods: {
            add: function (vo = {}) {
                if (vo.id >0) {
                    layerOpenwin('编辑OSS', '/admin/website/ossconfigadd?id=' + vo.id);
                } else {
                    layerOpenwin('添加OSS', '/admin/website/ossconfigadd');
                }
            },
            doupdate: function (vo) {
                var is_use = vo.is_use == 0 ? 1 : 0;
                var pageparm = vo;
                pageparm.is_use = is_use;
                majax('/admin/website/doupdate', pageparm,'ossconfig')
            },
            pageFreash: function () {
                vm.page = 1;
                vm.rows = 10;
                vm.count = 0;
                vm.keywords = '';
                vm.init();
            },
            secrchInit: function () {
                vm.page = 1;
                vm.rows = 10;
                vm.count = 0;
                vm.init();
            },
            dodelete: function (index) {
                $.messager.confirm('提示', '确定删除吗？', function (r) {
                    if (r == true) {
                        $.post('/admin/website/dodelete', {
                            pageparm: JSON.stringify(vm.list[index]),
                            table: 'ossconfig'
                        }, function (ret) {
                            if (ret.status == 1) {
                                vm.list.splice(index, 1);
                                $.messager.show({title: '提示', msg: ret.msg, timeout: 3000, showType: 'slide'});
                            } else {
                                $.messager.alert('提示', ret.msg, 'warning');
                            }
                        }, 'json');
                    }
                });
            },
            init: function () {
                $.post('/admin/website/ossconfig', {
                    page: vm.page,
                    rows: vm.rows,
                    keywords: vm.keywords,
                }, function (ret) {
                    vm.list = ret.data.list;
                    vm.count = ret.data.total;
                    if (vm.page == 1) {
                        pageinit();
                    }
                }, 'json');
            },
            doalldelete: function () {
                var arr = new Array();
                $(".list-div").find("input[name='checkboxes[]']:checked").each(function (i) {
                    arr[i] = $(this).val();
                });
                vm.ids = arr.join(",");
                $.messager.confirm('提示', '确定操作吗？', function (r) {
                    if (r == true) {
                        $.post('/admin/website/doalldelete', {
                            ids: vm.ids,
                            table: 'ossconfig'
                        }, function (ret) {
                            if (ret.status == 1) {
                                vm.log_ids = [];
                                vm.pageFreash();
                                $.messager.show({title: '提示', msg: ret.msg, timeout: 3000, showType: 'slide'});
                            } else {
                                $.messager.alert('提示', ret.msg, 'warning');
                            }
                        }, 'json');
                    }
                });
            }
        }
    });
    $(function () {
        vm.init();
    });
</script>
