<!DOCTYPE html>
<html lang="zh-CN">
{include file="public:head"}
<body class="iframe_body">
<div class="warpper" id="app">
    <div class="content">
        <div class="explanation" id="explanation">
            <div class="ex_tit"><i class="sc_icon"></i><h4>操作提示</h4><span class="explanationZoom" title="收起提示"></span></div>
            <ul>
                <li>标识“<em>*</em>”的选项为必填项，其余为选填项。</li>
                <li>填写在OSS平台(如七牛云)创建的OSS信息。</li>
            </ul>
        </div>
        <div class="flexilist">
            <div class="mian-info">
                <div class="switch_info user_basic">
                    <div class="item">
                        <div class="label">
                            <span class="require-field">*</span>
                            平台名称：
                        </div>
                        <div class="label_value">
                            <input type="text" name='link_name' v-model="info.name" value='' class="text" autocomplete="off"/>
                        </div>
                    </div>
                    <div class="item">
                        <div class="label">
                            <span class="require-field">*</span>
                            Bucket名称：
                        </div>
                        <div class="label_value">
                            <input type="text" name='bucket' v-model="info.bucket" value='' class="text" autocomplete="off"/>
                            <div class="notic m20">与七牛云OSS开通对象名称一致</div>
                            <div class="form_prompt"></div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="label">
                            <span class="require-field">*</span>
                            AccessKeyID：
                        </div>
                        <div class="label_value">
                            <input type="text" name='bucket' v-model="info.keyid" value='' class="text" autocomplete="off"/>
                            <div class="notic m20">填写七牛云Access Key管理的ID</div>
                            <div class="form_prompt"></div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="label">
                            <span class="require-field">*</span>
                            AccessKeySecret：
                        </div>
                        <div class="label_value">
                            <input type="text" name='bucket' v-model="info.keysecret" value='' class="text" autocomplete="off"/>
                            <div class="notic m20">填写七牛云Access Key管理的(Secret)</div>
                            <div class="form_prompt"></div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="label">
                            绑定域名：
                        </div>
                        <div class="label_value">
                            <input type="text" name='bucket' v-model="info.domain" value='' class="text" autocomplete="off"/>
                        </div>
                    </div>
                    <div class="item">
                        <div class="label">
                            所在区域：
                        </div>
                        <div class="label_value">
                            <input type="text" name='bucket' v-model="info.area" value='' class="text" autocomplete="off"/>
                        </div>
                    </div>
                    <div class="item">
                        <div class="label">&nbsp;</div>
                        <div class="label_value info_btn">
                            <input type="submit" value=" 确定 " class="button" id="submitBtn" @click="init()"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script>
    var info = JSON.parse('{$info|raw}');
    var infoColumn = JSON.parse('{$infoColumn|raw}');
    var vm = new Vue({
        el: '#app',
        data: {
            info: info,
        },
        methods: {
            init: function () {
                majax('/admin/website/ossconfigadd',vm.info);
            }
        }
    });
</script>
