<!DOCTYPE html>
<html lang="zh-CN">
{include file="public:head"}
<body class="iframe_body">
<div class="warpper" id="app">
    <div class="content">
        <div class="explanation" id="explanation">
            <div class="ex_tit"><i class="sc_icon"></i><h4>操作提示</h4><span class="explanationZoom" title="收起提示"></span></div>
            <ul>
                <li>该页面展示所有会员预留收货地址信息。</li>
                <li>可编辑或删除会员收货地址。</li>
                <li>可以输入会员名称关键字进行搜索，侧边栏可进行高级搜索。</li>
            </ul>
        </div>
        <div class="flexilist">
            <div class="common-head">
                <div class="refresh">
                    <div class="refresh_tit" title="刷新数据" @click="pageFreash()">
                        <i class="icon icon-refresh"></i>
                    </div>
                    <div class="refresh_span">刷新 - 共{{count}}条记录</div>
                </div>
                <div class="search">
                    <div class="input">
                        <input type="text" placeholder="收货人姓名" class="text nofocus" v-model="keywords">
                        <input type="submit" name="secrch_btn" shoptype="secrch_btn" value="" class="btn" @click="secrchInit()">
                    </div>
                </div>
            </div>
            <div class="common-content">
                <div class="list-div" id="listDiv">
                    <table cellpadding="0" cellspacing="0" border="0">
                        <thead>
                        <tr>
                            <th width="5%" class="sign">
                                <div class="tDiv">
                                    <input type="checkbox" name="all_list" class="checkbox" id="all_list"/>
                                    <label for="all_list" class="checkbox_stars"></label>
                                </div>
                            </th>
                            <th width="5%"><div class="tDiv">编号</div></th>
                            <th width="10%"><div class="tDiv">会员名称</div></th>
                            <th width="10%"><div class="tDiv">收货人姓名</div></th>
                            <th width="15%"><div class="tDiv">详细地址</div></th>
                            <th width="10%"><div class="tDiv">手机</div></th>


                            <th width="20%" class="handle">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <template v-for="(vo,index) in list">
                            <tr>
                                <td class="sign">
                                    <div class="tDiv">
                                        <input type="checkbox" name="checkboxes[]" :value="vo.address_id"
                                               class="checkbox" :id="checkboxitem+vo.address_id">
                                        <label :for="checkboxitem+vo.address_id" class="checkbox_stars"></label>
                                    </div>
                                </td>
                                <td><div class="tDiv">{{vo.address_id}}</div></td>
                                <td><div class="tDiv">{{vo.user_name}}</div></td>
                                <td><div class="tDiv">{{vo.consignee}}</div></td>
                                <td><div class="tDiv">{{vo.address}}</div></td>
                                <td><div class="tDiv">{{vo.mobile}}</div></td>


                                <td class="handle">
                                    <div class="tDiv a3">
                                        <a href="javascript:void(0)" title="编辑" class="btn_edit" @click="add(vo)">
                                            <i class="icon icon-edit"></i>
                                            编辑
                                        </a>
                                        <a href="javascript:void(0);" @click="dodelete(index)" class="btn_trash">
                                            <i class="icon icon-trash"></i>
                                            删除
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </template>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="12">
                                <div class="tDiv">
                                    <div class="tfoot_btninfo">
                                        <input type="submit" value="删除" id="btnSubmit"
                                               name="btnSubmit" shoptype="btnSubmit" class="btn btn_disabled"
                                               disabled="disabled" @click="doalldelete()">删除
                                    </div>
                                    <div class="list-page">
                                        <div id="turn-page"></div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script>
    var vm = new Vue({
        el: '#app',
        data: {
            page: 1,
            rows: 10,
            count: 0,
            keywords: '',
            list: [],

            all_list: [],
            checkboxitem: 'checkbox_',

            ids: [],

        },
        methods: {
            add: function (vo = {}) {
                if (vo.address_id) {
                    window.parent.addParentTab(
                        {
                            title: '编辑地址',
                            href: '/admin/user/addressadd?address_id=' + vo.address_id
                        }
                    );
                } else {
                    window.parent.addParentTab(
                        {
                            title: '添加地址',
                            href: '/admin/user/addressadd'
                        }
                    );
                }
            },
            pageFreash: function () {
                vm.page = 1;
                vm.rows = 10;
                vm.count = 0;
                vm.keywords = '';
                vm.init();
            },
            secrchInit: function () {
                vm.page = 1;
                vm.rows = 10;
                vm.count = 0;
                vm.init();
            },
            dodelete: function (index) {
                $.messager.confirm('提示', '确定删除吗？', function (r) {
                    if (r == true) {
                        $.post('/admin/user/dodelete', {
                            pageparm: JSON.stringify(vm.list[index]),
                            table: 'user_address'
                        }, function (ret) {
                            if (ret.status == 1) {
                                vm.list.splice(index, 1);
                                $.messager.show({title: '提示', msg: ret.msg, timeout: 3000, showType: 'slide'});
                            } else {
                                $.messager.alert('提示', ret.msg, 'warning');
                            }
                        }, 'json');
                    }
                });
            },
            init: function () {
                $.post('/admin/user/addresslist', {
                    page: vm.page,
                    rows: vm.rows,
                    keywords: vm.keywords,
                }, function (ret) {
                    vm.list = ret.data.list;
                    vm.count = ret.data.total;
                    if (vm.page == 1) {
                        pageinit();
                    }
                }, 'json');
            },
            doalldelete: function () {
                var arr = new Array();
                $(".list-div").find("input[name='checkboxes[]']:checked").each(function (i) {
                    arr[i] = $(this).val();
                });
                vm.ids = arr.join(",");
                $.messager.confirm('提示', '确定操作吗？', function (r) {
                    if (r == true) {
                        $.post('/admin/user/doalldelete', {
                            ids: vm.ids,
                            table: 'user_address'
                        }, function (ret) {
                            if (ret.status == 1) {
                                vm.log_ids = [];
                                vm.pageFreash();
                                $.messager.show({title: '提示', msg: ret.msg, timeout: 3000, showType: 'slide'});
                            } else {
                                $.messager.alert('提示', ret.msg, 'warning');
                            }
                        }, 'json');
                    }
                });
            }
        }
    });
    $(function () {
        vm.init();
    });
</script>
