<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>结算页</title>
    <link rel="stylesheet" href="/public/wap/static/css/font_u366719ytlat6gvi.css"/>
    <link rel="stylesheet" href="/public/wap/static/css/font_242849_60vzt3bweh.css"/>
    <link rel="stylesheet" href="/public/wap/static/css/font_242849_d1e6kntzwv.css"/>
    <link rel="stylesheet" href="/public/wap/static/css/chunk-common.css"/>
    <link rel="stylesheet" href="/public/wap/static/css/chunk-vendors.css"/>
    <link rel="stylesheet" href="/public/wap/static/css/index.css"/>
    <link rel="stylesheet" href="/public/wap/static/css/chunk-311e.css"/>
    <link rel="stylesheet" href="/public/wap/css/swiper.min.css"/>
</head>
<body>
<div id="app" v-cloak>
    <div class="con con_main">
        <div class="flow-checkout">
            <section class="flow-checkout-item flow-checkout-adr m-b10" @click="addeditwin(0)">
                <div class="van-cell-group van-hairline--top-bottom">
                    <div class="van-cell van-cell--clickable"><i
                            class="van-icon van-icon-location van-cell__left-icon"></i>
                        <template v-if="useraddress.address_id>0">
                            <div class="van-cell__title">
                                <span>{{useraddress.consignee}} {{useraddress.mobile}}</span>
                                <div class="van-cell__label">{{useraddress.region_name}} {{useraddress.address}}</div>
                            </div>
                        </template>
                        <template v-else>
                            <div class="van-cell__title"><span>设置收货地址</span></div>
                        </template>
                        <i class="van-icon van-icon-arrow van-cell__right-icon"></i>
                    </div>
                </div>
            </section>
            <section class="checkout-goods-list m-b10">
                <section class="section-list">
                    <div class="product-list dis-box">
                        <ul class="box-flex">
                            <li @click="openGoodsdetail(info.goods)">
                                <div class="product-div">
                                    <a href="javascript:void(0)" class="product-div-link"></a>
                                    <div class="product-list-img">
                                        <img :src="info.goods.original_img" class="img">
                                    </div>
                                    <div class="product-info">
                                        <h4>{{info.goods.goods_name}}</h4>
                                        <div class="price"><em>{{info.goods.exchange_integral}}</em><i>积分</i><span>x{{goods_num}}</span>
                                        </div>
                                        <div class="p-attr">￥
                                            <del>{{info.goods.market_price}}</del>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </section>
                <div class="van-cell-noright m-top08 van-cell-group van-hairline--top-bottom">
                    <div class="b-min b-min-t van-cell">
                        <div class="van-cell__title"><span>买家留言</span>
                        </div>
                        <div class="van-cell__value">
                            <div>
                                <div class="van-cell-ptb0 van-cell van-field">
                                    <div class="van-cell__value van-cell__value--alone">
                                        <div class="van-field__body">
                                            <input type="text" placeholder="选填（50）" class="van-field__control"
                                                   v-model="user_note">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="b-min b-min-t van-cell">
                        <div class="van-cell__value van-cell__value--alone">
                            <div><span>共 {{goods_num}} 件商品 积分合计：</span><em class="color-red">{{info.goods.exchange_integral*goods_num}}</em>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="order-detail-submit order-checkout-submit">
                <div class="van-submit-bar">
                    <div class="van-submit-bar__bar">
                        <div class="van-submit-bar__text">
                            <span>积分合计：</span>
                            <span class="van-submit-bar__price">{{info.goods.exchange_integral*goods_num}}</span>
                        </div>
                        <button class="van-button van-button--danger van-button--large van-button--square"
                                @click="exorder()">
                            <span class="van-button__text">立即兑换</span>
                        </button>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
</body>
</html>
<script src="/public/wap/script/api.js"></script>
<script src="/public/wap/script/app.js"></script>
<script src="/public/wap/script/common.js"></script>
<script>
    var vm = new Vue({
        el: '#app',
        data: {
            info: [],

            goods_id: 50475,
            goods_num: 1,
            useraddress: {
                mobile: '',
                consignee: '',
                address: '',
            },

            user_note: '',
            pay_type: '',
        },
        methods: {
            addeditwin: function (address_id) {
                api.openWin({
                    name: 'addselect_win',
                    url: 'widget://html/addselect_win.html',
                });
            },
            openGoodsdetail: function (vo) {
                api.openWin({
                    name: 'goodsdetail_win',
                    url: 'widget://html/goodsdetail_win.html',
                    pageParam: {
                        goods_id: vo.goods_id
                    }
                });
            },
            init: function () {
                wxapp.ajax(config.goodsdetail, {goods_id: vm.goods_id}).then(function (ret) {
                    vm.info = ret.data;
                    vm.useraddress = ret.data.user_address;
                });
            },
            exorder: function () {
                if (!vm.info.address || !vm.info.address.address_id) {
                    api.openWin({
                        name: 'address_win',
                        url: 'widget://html/address_win.html',
                    });
                    return false;
                }
                param = {
                    goods_id: vm.goods_id,
                    goods_num: vm.goods_num,
                    user_note: vm.user_note,
                    address: JSON.stringify(vm.useraddress)
                };
                wxapp.ajax(config.exorder, param).then(function (ret) {
                    if (ret.status == 1) {
                        wxapp.alert('success', ret.msg);
                        setTimeout(function () {
                            api.openWin({
                                name: 'orderlist_win',
                                url: 'widget://html/orderlist_win.html',
                            });
                        }, 500);
                    } else {
                        wxapp.alert('fail', ret.msg);
                    }
                    if (ret.status < 0) {
                        api.openWin({
                            name: 'login_win',
                            url: 'widget://html/login_win.html',
                            useWKWebView: true,
                        });
                    }
                });
            }
        }
    });
    window.onload = function () {
        vm.goods_id = api.pageParam.goods_id ? api.pageParam.goods_id : 0;
        vm.goods_num = api.pageParam.goods_num ? api.pageParam.goods_num : 0;
        vm.init();
    };
</script>