<!DOCTYPE html>
<html lang="zh-CN">
{include file="public:head"}

<body class="iframe_body">
<div class="warpper" id="app">
    <div class="content">
        <div class="flexilist">
            <div class="common-head">
                <div class="refresh">
                    <div class="refresh_tit" title="刷新数据" @click="pageFreash()">
                        <i class="icon icon-refresh"></i>
                    </div>
                    <div class="refresh_span">刷新 - 共{{count}}条记录</div>
                </div>
                <div class="search">
                    <div class="input">
                        <input type="text" name="keyword" v-model.trim="keywords" class="text nofocus" placeholder="订单编号" @keyup.enter="secrchInit()">
                        <input type="submit" name="secrch_btn" shoptype="secrch_btn" value="" class="btn"
                               @click="secrchInit()">
                    </div>
                </div>

            </div>
            <div class="common-content">
                <div class="list-div" id="listDiv">
                    <table cellpadding="0" cellspacing="0" border="0">
                        <thead>
                        <tr>
                            <th width="5%">
                                <div class="tDiv">编号</div>
                            </th>
                            <th width="10%">
                                <div class="tDiv">退款编号</div>
                            </th>
                            <th width="10%">
                                <div class="tDiv">订单号</div>
                            </th>
                            <th width="5%">
                                <div class="tDiv">用户名</div>
                            </th>
                            <th width="10%">
                                <div class="tDiv">投诉店铺</div>
                            </th>
                            <th width="10%">
                                <div class="tDiv">时间</div>
                            </th>
                            <th width="10%">
                                <div class="tDiv">投诉内容</div>
                            </th>
                            <th width="20%">
                                <div class="tDiv">投诉单状态</div>
                            </th>
                            <th width="20%">
                                <div class="tDiv">退款状态</div>
                            </th>
                            <th width="20%" class="handle">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <template v-for="(vo,index) in list">
                            <tr>
                                <td>
                                    <div class="tDiv">{{vo.id}}</div>
                                </td>
                                <td>
                                    <div class="tDiv">{{vo.return_id}}</div>
                                </td>
                                <td>
                                    <div class="tDiv">{{vo.order_sn}}</div>
                                </td>
                                <td>
                                    <div class="tDiv">{{vo.username}}</div>
                                </td>
                                <td>
                                    <div class="tDiv" v-if="vo.store_id==0">自营</div>
                                    <div class="tDiv" v-else>{{store[vo.store_id]}}</div>
                                </td>
                                <td>
                                    <div class="tDiv">{{vo.add_time}}</div>
                                </td>
                                <td>
                                    <div class="tDiv">
                                        <template v-for="(vo2,index2) in vo.content">
                                            <span>{{index2}}：</span><br>
                                            <span>{{vo2}}</span>
                                        </template>
                                    </div>
                                </td>
                                <td>
                                    <div class="tDiv" v-if="vo.pid>0">已处理</div>
                                    <div class="tDiv red" v-else>待处理</div>
                                </td>
                                <td>
                                    <div class="tDiv">{{status[vo.status]}}</div>
                                </td>
                                <td class="handle">
                                    <div class="tDiv a3">
                                        <a href="javascript:void(0)" class="btn_edit" :class="{red:vo.pid==0}" @click="showDetail(vo)">
                                            <template>
                                                <i class="icon icon-edit"></i>查看
                                            </template>
                                            <template v-else>
                                                <i class="icon icon-edit"></i>处理
                                            </template>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </template>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="12">
                                <div class="tDiv">
                                    <div class="list-page">
                                        <div id="turn-page"></div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var vm = new Vue({
        el: '#app',
        data: {
            page: 1,
            rows: 10,
            count: 0,
            keywords: '',
            list: [],
            store: {},

            status: {'-2': '用户取消', '-1': '商家不同意', '0': '待审核', '1': '商家同意', '2': '已发货', '3': '已收货', '4': '换货完成', '5': '退款完成', '6': '申诉仲裁'}
        },
        methods: {
            showDetail: function (vo) {
                window.parent.addParentTab(
                    {
                        title: '退款详情-' + vo.order_sn,
                        href: '/admin/order/refund_detail?return_id=' + vo.return_id
                    }
                );
            },
            pageFreash: function () {
                vm.page = 1;
                vm.rows = 10;
                vm.count = 0;
                vm.keywords = '';
                vm.init();
            },
            secrchInit: function () {
                vm.page = 1;
                vm.rows = 10;
                vm.count = 0;
                vm.init();
            },

            init: function () {
                $.post('/admin/order/appeal', {
                    page: vm.page,
                    rows: vm.rows,
                    keywords: vm.keywords,
                }, function (ret) {
                    vm.list = ret.data.list;
                    vm.store = ret.data.store;
                    vm.count = ret.data.total;
                    if (vm.page == 1) {
                        pageinit();
                    }
                }, 'json');
            },
        }
    });
    $(function () {
        vm.init();
    });
</script>

</body>
</html>