
<!DOCTYPE html>
<html lang="zh-CN">
{include file="public:head"}
<body class="iframe_body">
<div class="warpper" id="app">
    <div class="content">
        <div class="explanation" id="explanation">
            <div class="ex_tit"><i class="sc_icon"></i><h4>操作提示</h4><span class="explanationZoom" title="收起提示"></span></div>
            <ul>
                <li>请合理创建商品商品规格。</li>
                <li>标识“<em>*</em>”的选项为必填项，其余为选填项。</li>
            </ul>
        </div>
        <div class="flexilist">
            <div class="common-content">
                <div class="mian-info">
                    <div class="switch_info">
                        <div class="item">
                            <div class="label"><span class="require-field">*</span>&nbsp;商品规格名称：</div>
                            <div class="label_value">
                                <input type="text" name="cat_name" value="" size="40" class="text" autocomplete="off" id="cat_name" v-model="info.cat_name"/>
                            </div>
                        </div>
                        <div class="item">
                            <div class="label">&nbsp;</div>
                            <div class="label_value info_btn">
                                <input type="hidden" name="cat_id" value="" />
                                <input type="submit" value=" 确定 " class="button" id="submitBtn" @click="init()" />
                                <input type="reset" value=" 重置 " class="button button_reset" @click="infoReset()" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script>
    var info = JSON.parse('{$info|raw}');
    var infoColumn = JSON.parse('{$infoColumn|raw}');
    var vm = new Vue({
        el: '#app',
        data: {
            info: info,
        },
        methods: {
            infoReset:function(){
                vm.info = infoColumn;
            },
            init: function () {
                if(!vm.info.cat_name){
                    $.messager.alert('提示', imgtips, 'warning');
                    return false;
                }
                majax('/admin/goods/goodstypeadd',vm.info);
            }
        }
    });
</script>
