<!DOCTYPE html>
<html lang="zh-CN">
{include file="public:head"}
<body class="iframe_body">
<div class="warpper" id="app">
    <div class="content">
        <div class="explanation" id="explanation">
            <div class="ex_tit"><i class="sc_icon"></i><h4>操作提示</h4><span class="explanationZoom" title="收起提示"></span></div>
            <ul>
                <li>展示了平台商品库的所有分类。</li>
                <li>可在列表直接增加下一级分类。</li>
                <li>鼠标移动“设置”位置，可新增、查看下一级分类。</li>
            </ul>
        </div>
        <div class="flexilist">
            <div class="common-head">
                <div class="fl">
                    <a href="javascript:void(0)" @click="add()">
                        <div class="fbutton">
                            <div class="add" title="添加分类">
                                <span>
                                    <i class="icon icon-plus" aria-hidden="true"></i>
                                    添加分类
                                </span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="refresh">
                    <div class="refresh_tit" title="刷新数据" @click="pageFreash()">
                        <i class="icon icon-refresh"></i>
                    </div>
                    <div class="refresh_span">刷新 - 共{{count}}条记录</div>
                </div>
            </div>
            <div class="common-content">
                <div class="list-div">
                    <table cellpadding="0" cellspacing="0" border="0">
                        <thead>
                            <tr>
                                <th width="8%"><div class="tDiv">级别(一级)</div></th>
                                <th width="20%"><div class="tDiv">分类名称</div></th>
                                <th width="10%"><div class="tDiv">是否显示</div></th>
                                <th width="10%"><div class="tDiv">排序</div></th>
                                <th width="12%" class="handle">操作</th>
                            </tr>
                        </thead>
                        <tbody>
                        <template v-for="(vo,index) in list">
                            <tr>
                                <td>
                                    <div class="tDiv first_setup">
                                        <div class="setup_span">
                                            <em>
                                                <i class="fa fa-cog" aria-hidden="true"></i>
                                                设置<i class="arrow"></i>
                                            </em>
                                            <ul>
                                                <li>
                                                    <a href="javascript:void(0)" @click="pageFreash(vo.cat_id)">查看下一级</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="tDiv">
                                        <a href="javascript:void(0)" class="ftx-01">{{vo.cat_name}}</a>
                                    </div>
                                </td>
                                <td>
                                    <div class="tDiv">
                                        <div class="switch" :class="{'active':vo.is_show==1}" title="是"
                                             @click="categoryupdate_is_show(vo)">
                                            <div class="circle"></div>
                                        </div>
                                        <input type="hidden" value="0" name="">
                                    </div>
                                </td>
                                <td>
                                    <div class="tDiv">
                                        <input type="text" name="sort_order" class="text w100"
                                               v-model="vo.sort_order" @keyup.enter="doupdate(vo)"/>
                                    </div>
                                </td>
                                <td class="handle">
                                    <div class="tDiv a2">
                                        <a href="javascript:void(0)" class="btn_edit" @click="add(vo)">
                                            <i class="icon icon-edit"></i>
                                            编辑
                                        </a>
                                        <a href="javascript:void(0)" class="btn_trash" @click="dodelete(index)">
                                            <i class="icon icon-trash"></i>
                                            删除
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        </template>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="12">
                                    <div class="list-page">
                                        <div id="turn-page"></div>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

<script>
    var vm = new Vue({
        el: '#app',
        data: {
            page: 1,
            rows: 50,
            count: 0,
            parent_id: 0,
            list: []
        },
        methods: {
            add: function (vo = {}) {
                if (vo.cat_id > 0) {
                    layerOpenwin('编辑分类', '/admin/goods/libcatadd?cat_id='+vo.cat_id);
                } else {
                    layerOpenwin('添加分类', '/admin/goods/libcatadd');
                }
            },
            pageFreash: function (parent_id=0) {
                vm.page = 1;
                vm.rows = 10;
                vm.count = 0;
                vm.parent_id = parent_id;
                vm.init();
            },
            init: function () {
                $.post('/admin/goods/libcatlist', {
                    page: vm.page,
                    rows: vm.rows,
                    parent_id: vm.parent_id,
                }, function (ret) {
                    vm.list = ret.data.list;
                    vm.count = ret.data.total;
                    if (vm.page == 1) {
                        pageinit();
                    }
                }, 'json');
            },
            doupdate: function (vo) {
                majax('/admin/goods/doupdate', vo,'goods_lib_cat')
            },
            categoryupdate_is_show: function (vo) {
                var is_show = vo.is_show == 0 ? 1 : 0;
                var pageparm = vo;
                pageparm.is_show = is_show;
                majax('/admin/goods/doupdate', pageparm,'goods_lib_cat')
            },
            dodelete:function(index){
                $.iMessager.confirm('提示', '确定要删除吗?', function (r) {
                    if (r) {
                        $.post('/admin/goods/dodelete', {
                            pageparm: JSON.stringify(vm.list[index]),
                            table: 'goods_lib_cat'
                        }, function (ret) {
                            if (ret.status == 1) {
                                vm.list.splice(index,1);
                                $.messager.show({title: '提示', msg: ret.msg, timeout: 3000, showType: 'slide'});
                            } else {
                                $.messager.alert('提示', ret.msg, 'warning');
                            }
                        }, 'json');
                    }
                });
            }
        },
    });
    $(function () {
        vm.init();
    });
</script>
