<!DOCTYPE html>
<html lang="zh-CN">
{include file="public:head"}
<body class="iframe_body">
<div class="warpper" id="app">
    <div class="content">
        <div class="explanation" id="explanation">
            <div class="ex_tit">
                <i class="sc_icon"></i>
                <h4>操作提示</h4>
                <span class="explanationZoom" title="收起提示"></span>
            </div>
            <ul>
                <li>
                    标识“<em>*</em>
                    ”的选项为必填项，其余为选填项。
                </li>
                <li>请按提示栏信息进行商品添加。</li>
                <li>默认模式：不区分仓库或地区模式设置价格与库存；仓库模式：按仓库设置价格与库存；地区模式：按地区设置价格与库存。</li>
            </ul>
        </div>
        <div class="flexilist">
            <!--添加新商品-->
            <div class="stepflex">
                <dl class="first" :class="{'cur':step>1}" data-step="3">
                    <dt class="pointer">1</dt>
                    <dd class="s-text">选择商品分类</dd>
                </dl>
                <dl class="" :class="{'cur':step>2}" data-step="4">
                    <dt class="pointer">2</dt>
                    <dd class="s-text">填写商品信息</dd>
                </dl>
                <dl class="" :class="{'cur':step>3}" data-step="5" class="cur">
                    <dt class="pointer">3</dt>
                    <dd class="s-text">商品相册</dd>
                </dl>
            </div>
            <div class="common-content goods_info">

                <!--第二步 仓库模式-->
                <div class="step" style="display:none;" shoptype="step" data-step="2">
                    <div class="step_title">
                        <i class="ui-step"></i>
                        <h3 shoptype="model">默认模式 </h3>
                    </div>
                    <div class="step_content" id="goods_model_list"></div>
                    <div class="goods_btn">
                        <a href="javascript:void(0);" class="btn btn35 btn_blue" data-step="1" data-type="step"
                           shoptype="stepSubmit">上一步，选择商品模式</a>
                        <a href="javascript:void(0);" class="btn btn35 blue_btn" data-step="3" data-type="step"
                           data-down="true" shoptype="stepSubmit">下一步，选择商品分类</a>
                    </div>
                </div>


                <!--第二步 选择商品分类-->
                <div class="step step_two" shoptype="step" data-step="3" v-show="step==2">
                    <div class="step_title">
                        <i class="ui-step"></i>
                        <h3>选择商品分类</h3>
                    </div>
                    <div class="sort_info">
                        <div id="cate_add">
                            <div class="sort_list sort_list_one">
                                <div class="sort_list_warp">
                                    <div class="category_list">
                                        <ul>
                                            <li>
                                                <a href="javascript:void(0);"><i class="sc_icon"></i>
                                                    请选择分类
                                                </a>
                                            </li>
                                            <template v-for="(vo,index) in categoryList.oneList">
                                                <li @click="categoryListInit(vo,1)">
                                                    <a href="javascript:void(0);">
                                                        <i class="sc_icon"></i>
                                                        {{vo.cat_name}}
                                                    </a>
                                                </li>
                                            </template>
                                        </ul>
                                    </div>
                                    <div class="sort_point"></div>
                                </div>
                            </div>
                            <div class="sort_list sort_list_one">
                                <div class="sort_list_warp">
                                    <div class="category_list">
                                        <ul>
                                            <li>
                                                <a href="javascript:void(0);">
                                                    <i class="sc_icon"></i>
                                                    请选择分类
                                                </a>
                                            </li>
                                            <template v-for="(vo,index) in categoryList.twoList">
                                                <li @click="categoryListInit(vo,2)">
                                                    <a href="javascript:void(0);">
                                                        <i class="sc_icon"></i>
                                                        {{vo.cat_name}}
                                                    </a>
                                                </li>
                                            </template>
                                        </ul>
                                    </div>
                                </div>
                                <div class="sort_point"></div>
                            </div>
                            <div class="sort_list">
                                <div class="sort_list_warp">
                                    <div class="category_list">
                                        <ul>
                                            <li>
                                                <a href="javascript:void(0);">
                                                    <i class="sc_icon"></i>
                                                    请选择分类
                                                </a>
                                            </li>
                                            <template v-for="(vo,index) in categoryList.thrList">
                                                <li @click="categoryListInit(vo,3)">
                                                    <a href="javascript:void(0);">
                                                        <i class="sc_icon"></i>
                                                        {{vo.cat_name}}
                                                    </a>
                                                </li>
                                            </template>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" name="cat_id" id="cat_id" value="0" shoptype="cat_id"/>
                        <div class="choiceClass" id="choiceClass">
                            您当前选择的商品类别是：<strong class="red"></strong>
                        </div>
                    </div>
                    <div class="goods_btn">
                        <a href="javascript:void(0);" class="btn btn35 btn_blue" data-step="1" data-type="step"
                           @click="stepInit(1)">上一步，选择商品模式</a>
                        <a href="javascript:void(0);" class="btn btn35 blue_btn" data-step="4" data-type="step"
                           data-down="true" @click="stepInit(3)">下一步，填写通用信息</a>
                    </div>
                </div>


                <!--第三步 通用信息-->
                <div class="step_three" style="display:none;" shoptype="step" data-step="3" v-show="step==3">
                    <div class="step">
                        <div class="step_title">
                            <i class="ui-step"></i>
                            <h3>通用信息</h3>
                        </div>

                        <div class="step_content">
                            <div class="item item_wenzi">
                                <div class="step_label">商品分类：</div>
                                <div class="step_value">
                                    <span class="fl">{{cat_name}}</span>
                                </div>
                            </div>
                            <div class="item">
                                <div class="step_label">商品货号：</div>
                                <div class="step_value">
                                    <input type="text" name="goods_sn" class="text w150" autocomplete="off"
                                           v-model="info.goods_sn"/>
                                    <div class="form_prompt"></div>
                                    <div class="notic">如果您不输入商品货号，系统将自动生成一个唯一的货号。</div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="step_label">
                                    <em class="require-field">*</em>
                                    商品名称：
                                </div>
                                <div class="step_value">
                                    <input type="text" name="goods_name" class="text" autocomplete="off"
                                           v-model="info.goods_name"
                                           shoptype="require"/>
                                    <div class="form_prompt"></div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="step_label">商品简单描述：</div>
                                <div class="step_value">
                                    <textarea class="textarea" name="goods_brief" v-model="info.goods_brief"></textarea>
                                </div>
                            </div>
                            <div class="item">
                                <div class="step_label">
                                    <em class="require-field">*</em>
                                    本店售价：
                                </div>
                                <div class="step_value">
                                    <input type="text" name="shop_price" class="text w150"
                                           shoptype="require" autocomplete="off" v-model="info.shop_price"/>
                                    <div class="form_prompt"></div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="step_label">市场价：</div>
                                <div class="step_value">
                                    <input type="text" name="market_price" class="text w150" autocomplete="off"
                                           v-model="info.market_price"/>
                                </div>
                            </div>
                            <div class="item">
                                <div class="step_label">成本价：</div>
                                <div class="step_value">
                                    <input type="text" name="cost_price" class="text w150" autocomplete="off"
                                           v-model="info.cost_price"/>
                                </div>
                            </div>
                            <div class="item" id="goods_number">
                                <div class="step_label">
                                    <em class="require-field">*</em>
                                    商品库存：
                                </div>
                                <div class="step_value">
                                    <input type="text" name="goods_number" class="text w150" shoptype="require"
                                           autocomplete="off" v-model="info.goods_number"/>
                                    <div class="notic">库存在商品为虚货或商品存在货品时为不可编辑状态，库存数值取决于其虚货数量或货品数量。</div>
                                    <div class="form_prompt"></div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="step_label">库存预警值：</div>
                                <div class="step_value">
                                    <input type="text" name="warn_number" class="text w150" autocomplete="off"
                                           value="1" v-model="info.warn_number"/>
                                    <div class="notic">设置最低库存预警值。当库存低于预警值时商家中心商品列表页库存列红字提醒，请填写0~255的数字，0为不预警。</div>
                                </div>
                            </div>

                            <!--商品品牌组件开始--->
                            <div class="item">
                                <div class="step_label">商品品牌：</div>
                                <div class="step_value">
                                    <div class="selection">
                                        <input type="text" name="brand_name" id="brand_name" class="text w140 valid"
                                               data-filter="brand_name" shoptype="require" autocomplete="off"
                                               value="请选择" readonly/>
                                        <a href="javascript:void(0);" class="btn btn30 blue_btn"
                                           onclick="layerOpenwin('添加品牌','/admin/goods/brandadd')">
                                            添加
                                        </a>
                                        <div class="form_prompt"></div>
                                    </div>
                                    <div class="brand-select-container" style="display:none;">
                                        <div class="brand-top">
                                            <div class="letter">
                                                <ul>
                                                    <li @click="brandListInit()">
                                                        <a href="javascript:void(0);" data-letter="">全部品牌</a>
                                                    </li>
                                                    <template v-for="(vo,index) in brandfirstcharList">
                                                        <li @click="brandListInit(vo)"><a href="javascript:void(0);">{{vo}}</a>
                                                        </li>
                                                    </template>
                                                </ul>
                                            </div>
                                            <div class="b_search">
                                                <input type="text" class="b_text" v-model="brand_name"
                                                       autocomplete="off">
                                                <a href="javascript:void(0);" class="btn-mini" @click="brandListInit()">
                                                    <i class="icon icon-search"></i>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="brand-list">
                                            <ul>
                                                <li data-id="0" data-name="请选择品牌" class="blue">取消选择</li>
                                                <template v-for="(vo,index) in brandList">
                                                    <li :data-id="vo.brand_id" :data-name="vo.brand_name" @click="brandSelect(vo)">
                                                        <em>{{vo.brand_first_char}}</em>
                                                        {{vo.brand_name}}
                                                    </li>
                                                </template>
                                            </ul>
                                        </div>
                                        <div class="brand-not" style="display:none;">
                                            没有符合"<strong>其他</strong>
                                            "条件的品牌
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--商品品牌组件结束--->

                            <div class="item item_wenzi">
                                <div class="step_label">
                                    <em class="require-field">*</em>
                                    商品图片：
                                </div>
                                <div class="step_value">
                                    <div id="goods_figure" class="update_images mr10">
                                        <div class="img">
                                            <img :src="info.original_img?info.original_img:'/public/static/images/update_images.jpg'"/>
                                        </div>
                                    </div>
                                    <div class="form_prompt">
                                        <p>尺寸：800px * 800px</p>
                                        <p>大小：不限，根据实际自行确定大小</p>
                                        <p>格式：jpg，gif，png，jpeg</p>
                                    </div>
                                    <div class="notic ml70"></div>
                                </div>
                            </div>
                            <div class="item gallery_album">
                                <div class="step_label">&nbsp;</div>
                                <div class="step_value">
                                    <input type="button" class="button mr10" value="上传" id="original_img">
                                </div>
                            </div>
                            <div class="item">
                                <div class="step_label">图片外部链接：</div>
                                <div class="step_value">
                                    <input type="text" name="goods_img_url" autocomplete="off" class="text w150"
                                           v-model="info.goods_img_url">
                                    <div class="notic">外链地址必须带有http://格式</div>
                                    <div class="form_prompt"></div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="step_label">商品运费：</div>
                                <div class="step_value">
                                    <div class="checkbox_items">
                                        <div class="checkbox_item">
                                            <input type="radio" name="freight" class="ui-radio" id="freight_1" value="1"
                                                   checked="checked">
                                            <label for="freight_1" class="ui-radio-label">按固定运费</label>
                                        </div>
                                        <div class="checkbox_item">
                                            <input type="radio" name="freight" class="ui-radio" id="freight_2"
                                                   value="2">
                                            <label for="freight_2" class="ui-radio-label">按运费模板</label>
                                        </div>
                                        <div class="form_prompt"></div>
                                    </div>
                                    <input id="shipping_fee" type="text" name="shipping_fee" class="text w150"
                                           autocomplete="off" v-model="info.shipping_fee">
                                </div>
                            </div>
                            <div class="item">
                                <div class="step_label">会员价格：</div>
                                <div class="step_value">
                                    <table class="table_div">
                                        <tr>
                                            <th class="th">铜牌</th>
                                            <th class="th">银牌</th>
                                            <th class="th">金牌</th>
                                            <th class="th">代销用户</th>
                                        </tr>
                                        <tr>
                                            <td class="td">
                                                <span id="nrank_6"></span>
                                                <input type="text" id="rank_6" name="user_price[]" class="text w50"
                                                       autocomplete="off" v-model="info.user_price"
                                                       size="8" class="text_3"/>
                                            </td>
                                            <td class="td">
                                                <span id="nrank_7"></span>
                                                <input type="text" id="rank_7" name="user_price[]" class="text w50"
                                                       v-model="info.user_price"
                                                       size="8" class="text_3"/>
                                            </td>
                                            <td class="td">
                                                <span id="nrank_8"></span>
                                                <input type="text" id="rank_8" name="user_price[]" class="text w50"
                                                       autocomplete="off" v-model="info.user_price"
                                                       size="8" class="text_3"/>
                                            </td>
                                            <td class="td">
                                                <span id="nrank_3"></span>
                                                <input type="text" id="rank_3" name="user_price[]" class="text w50"
                                                       v-model="info.user_price"
                                                       size="8" class="text_3" style="width:40px;"/>
                                                <input type="hidden" name="user_rank[]" value="3"/>
                                            </td>
                                        </tr>
                                    </table>
                                    <div class="notic">会员价格为-1时表示会员价格按会员等级折扣率计算。你也可以为每个等级指定一个固定价格</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="step">
                        <div class="step_title"><i class="ui-step"></i><h3>详细描述</h3></div>
                        <div class="step_content">
                            <div class="tabs_desc">
                                <ul class="ui-tabs-nav">
                                    <li class="current"><a href="javascript:void(0);"><i class="icon icon-desktop"></i>电脑端</a></li>
                                </ul>
                                <div class="panel-main gallery_album" shoptype="gallery_album_list" data-inid="gallery_album_shop" data-act="gallery_album_list">
                                    <div class="panel panel-pc">
                                        <script id="goods_desc" name="goods_desc" type="text/plain"></script>
                                    </div>
                                    <div class="panel panel-phone">
                                        <div class="panel_warp">
                                            <div class="explain">
                                                <p>
                                                    <strong>一、基本要求</strong>
                                                    <span><em>1、</em>手机详情总体大小：图片+文字，<i class="red">图片不超过20张，文字不超过5000字</i>；</span>
                                                    <span><em>建议：</em>所有图片都是本宝贝相关的图片。</span>
                                                </p>
                                                <p>
                                                    <strong>二、图片大小</strong>
                                                    <span><em>1、</em>建议使用宽度480 ~ 620像素、高度小于等于960像素的图片；</span>
                                                    <span><em>2、</em>格式为：JPG\JEPG\GIF\PNG；</span>
                                                    <span><em>举例：</em>可以上传一张宽度为480，高度为960像素，格式为JPG的图片。</span>
                                                </p>
                                                <p>
                                                    <strong>三、文字要求</strong>
                                                    <span><em>1、</em>每次插入文字不能超过500个字，标点、特殊字符按照一个字计算；</span>
                                                    <span><em>2、</em>请手动输入文字，不要复制粘贴网页上的文字，防止出现乱码；</span>
                                                    <span><em>3、</em>以下特殊字符“&lt;”、“&gt;”、“"”、“’”、“\”会被替换为空。</span>
                                                    <span><em>建议：</em>不要添加太多的文字，这样看起来更清晰。</span>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="step w190">
                        <div class="step_title">
                            <i class="ui-step"></i>
                            <h3>其他信息</h3>
                            <span class="stop stop_jia" shoptype="outerInfo" title="收起详情"></span>
                        </div>
                        <div class="step_content" style="display:none;">
                            <div class="item dl_give_integral">
                                <div class="step_label">赠送消费积分数：</div>
                                <div class="step_value" style="margin-bottom:0px;">
                                    <input type="text" name="give_integral" class="text" autocomplete="off" value="0"
                                           v-model="info.give_integral">
                                </div>
                            </div>
                            <div class="item dl_give_integral">
                                <div class="step_label">&nbsp;&nbsp;</div>
                                <div class="step_value">
                                    购买该商品时赠送消费积分数,-1表示按商品价格赠送
                                </div>
                            </div>
                            <div class="item dl_rank_integral">
                                <div class="step_label">赠送等级积分数：</div>
                                <div class="step_value" style="margin-bottom:0px;">
                                    <input type="text" name="rank_integral" class="text" autocomplete="off"
                                           v-model="info.rank_integral" value="0">
                                </div>
                            </div>
                            <div class="item dl_rank_integral">
                                <div class="step_label">&nbsp;&nbsp;</div>
                                <div class="step_value">
                                    购买该商品时赠送等级积分数,-1表示按商品价格赠送
                                </div>
                            </div>
                            <div class="item dl_pay_integral">
                                <div class="step_label">积分购买金额：</div>
                                <div class="step_value" style="margin-bottom:0px;">
                                    <input type="text" name="integral" class="text" autocomplete="off"
                                           v-model="info.integral" value="0">
                                </div>
                            </div>
                            <div class="item dl_pay_integral">
                                <div class="step_label">&nbsp;&nbsp;</div>
                                <div class="step_value">
                                    (此处需填写金额)购买该商品时最多可以使用积分的金额
                                </div>
                            </div>
                            <div class="item">
                                <div class="step_label">商品重量：</div>
                                <div class="step_value">
                                    <input type="text" name="goods_weight" class="text" autocomplete="off"
                                           v-model="info.goods_weight">
                                </div>
                                <div class="item">
                                    <div class="step_label">商品单位：</div>
                                    <div class="step_value">
                                        <input type="text" name="goods_unit" class="text" autocomplete="off" value="个"
                                               v-model="info.goods_unit">
                                        <div class="notic">比如：个，件，份，套。默认为个</div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="step_label">加入推荐：</div>
                                    <div class="step_value step_goods_service">
                                        <div class="checkbox_items">
                                            <div class="checkbox_item">
                                                <input type="checkbox" name="is_best" class="ui-checkbox" value="1"
                                                       id="is_best" v-model="info.is_best">
                                                <label class="ui-label" for="is_best">精品</label>
                                            </div>
                                            <div class="checkbox_item">
                                                <input type="checkbox" name="is_new" class="ui-checkbox" value="1"
                                                       id="is_new" v-model="info.is_new">
                                                <label class="ui-label" for="is_new">新品</label>
                                            </div>
                                            <div class="checkbox_item">
                                                <input type="checkbox" name="is_hot" class="ui-checkbox" value="1"
                                                       id="is_hot" v-model="info.is_hot">
                                                <label class="ui-label" for="is_hot">热销</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="item">
                                    <div class="step_label">店铺推荐：</div>
                                    <div class="step_value step_goods_service">
                                        <div class="checkbox_items">
                                            <div class="checkbox_item">
                                                <input type="checkbox" name="store_best" class="ui-checkbox" value="1"
                                                       id="store_best" v-model="info.store_best">
                                                <label class="ui-label" for="store_best">精品</label>
                                            </div>
                                            <div class="checkbox_item">
                                                <input type="checkbox" name="store_new" class="ui-checkbox" value="1"
                                                       id="store_new" v-model="info.store_new">
                                                <label class="ui-label" for="store_new">新品</label>
                                            </div>
                                            <div class="checkbox_item">
                                                <input type="checkbox" name="store_hot" class="ui-checkbox" value="1"
                                                       id="store_hot" v-model="info.store_hot">
                                                <label class="ui-label" for="store_hot">热销</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="step_label">上架：</div>
                                    <div class="step_value step_goods_service">
                                        <div class="switch switch_2 active" title="是">
                                            <div class="circle"></div>
                                        </div>
                                        <input type="hidden" value="1" name="is_on_sale">
                                        <div class="notic" style="margin-left:10px;"></div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="step_label">能作为普通商品销售：</div>
                                    <div class="step_value step_goods_service">
                                        <div class="switch switch_2 active" title="否">
                                            <div class="circle"></div>
                                        </div>
                                        <input type="hidden" value="1" name="is_alone_sale">
                                        <div class="notic" style="margin-left:288px;">
                                            默认为是，如果勾选否，则该商品不能直接购买，只能作为配件、赠品等商品购买。
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="step_label">是否为免运费商品：</div>
                                    <div class="step_value step_goods_service">
                                        <div class="switch switch_2 " title="否">
                                            <div class="circle"></div>
                                        </div>
                                        <input type="hidden" value="0" name="is_shipping">
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="step_label">商品关键词：</div>
                                    <div class="step_value">
                                        <input type="text" name="keywords" class="text" autocomplete="off" v-model="info.keywords">
                                        <div class="notic">
                                            商品关键词请用空格分隔；有两个功能，一是可以作为站内关键词查询，在前台搜索框输入关键词后，能够搜索到该商品；二是作为搜索引擎收录使用。
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="step_label">评论标签：</div>
                                    <div class="step_value">
                                        <textarea class="textarea" name="goods_product_tag" v-model="info.goods_product_tag"></textarea>
                                        <div class="notic">请用','号分割；例：商品好看,很实用,材料很好...（注意逗号要使用英文逗号）<br>商品确认收货后，买家评论时可勾选的“买家印象”处内容
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="step_label">服务承诺标签：</div>
                                    <div class="step_value">
                                        <textarea class="textarea" name="goods_tag" v-model="info.goods_tag"></textarea>
                                        <div class="notic">请用','号分割（注：逗号要使用英文逗号）</div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="step_label">商家备注：</div>
                                    <div class="step_value">
                                        <textarea class="textarea" name="seller_note" v-model="info.seller_note"></textarea>
                                        <div class="notic">仅供商家自己看的信息</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="goods_footer">
                            <div class="goods_btn goods_btn_fixed">
                                <a href="javascript:void(0);" class="btn btn35 btn_blue"
                                   @click="stepInit(2)">上一步，选择商品分类</a>
                                <a href="javascript:void(0);" class="btn btn35 blue_btn" data-step="4" data-type="step"
                                   data-down="true" shoptype="stepSubmit" @click="stepInit(4)">下一步，填写商品属性</a>
                            </div>
                        </div>
                    </div>
                </div>


                <!--第四步 商品属性和商品相册-->
                <div class="step_four" style="" shoptype="step" data-step="4" v-show="step==4">
                    <div class="step">
                        <div class="step_title"><i class="ui-step"></i>
                            <h3>商品相册</h3></div>
                        <div class="step_content">
                            <template v-if="goodsgalleryList.length>0">
                                <div class="goods_album" id="gallery_img_list">
                                    <ul id="ul_pics">
                                        <template v-for="(vo,index) in goodsgalleryList">
                                            <li>
                                                <div class="img">
                                                    <img :src="vo.img_original" width="160" height="160">
                                                </div>
                                                <div class="info">
                                                    <span class="zt red"></span>
                                                    <div class="sort">
                                                        <span>排序：</span>
                                                        <input type="text" class="stext" autocomplete="off"
                                                               v-model="vo.img_sort">
                                                    </div>
                                                    <a @click="goodsgalleryInit(index)" href="javascript:void(0);"
                                                       class="delete_img">
                                                        <i class="icon icon-trash"></i>
                                                    </a>
                                                </div>
                                                <div class="info">
                                                    <input v-model="vo.external_url" type="text" class="text w130"
                                                           placeholder="图片外部链接地址">
                                                </div>
                                            </li>
                                        </template>
                                    </ul>
                                </div>
                            </template>
                            <div class="clear"></div>
                            <div class="step_top_btn gallery_album" style="position: relative;" id="gallery_picture">
                                <a href="javascript:void(0);" class="btn red_btn" id="addImages"
                                   style="position: relative; z-index: 1;"><i class="sc_icon sc_icon_images"></i>添加图片
                                </a>
                                <span class="red">支持批量上传，建议最多上传10张。</span>
                            </div>
                        </div>
                    </div>
                    <div class="goods_footer">
                        <div class="goods_btn goods_btn_fixed">
                            <a href="javascript:void(0);" class="btn btn35 btn_blue" @click="stepInit(3)"
                               shoptype="stepSubmit">上一步，填写商品信息</a>
                            <a href="javascript:void(0);" class="btn btn35 blue_btn" data-down="true" @click="goodsadd()">
                                <i class="sc_icon goods_complete_icon"></i>
                                完成，发布商品
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
</html>
<script>
    var info = JSON.parse('{$info|raw}');
    var goodsgalleryList = JSON.parse('{$goodsgalleryList|raw}');
    var goodsattrList = JSON.parse('{$goodsattrList|raw}');
    var infoColumn = JSON.parse('{$infoColumn|raw}');
    var vm = new Vue({
        el: '#app',
        data: {
            step: 2,
            list: [],

            outerInfo: 0,
            cat_name: '',
            cat_id: 0,
            cat_level: 0,
            categoryList: {
                oneList: [],
                twoList: [],
                thrList: [],
            },

            brand_name: '',
            brandfirstcharList: brandfirstcharList,
            brandList: [],

            goodsgalleryList: goodsgalleryList,

            //更新属性表和规格表开始
            /*
                goodsattrList:
                {
                    goodstypeList: [],
                    attributeList: [],
                    productsList: [],
                },
            */
            goodsattrList: goodsattrList,
            //更新属性表和规格表结束

            infoColumn: infoColumn,
            info: info,
        },
        computed: {},
        methods: {
            stepInit: function (index) {
                switch (index) {
                    case 1:
                        vm.step = index;
                        break;
                    case 2:
                        vm.step = index;
                        break;
                    case 3:
                        if (index == 3 && vm.outerInfo == 0) {
                            if(!vm.cat_id){
                                $.messager.alert('温馨提示','请选择分类','info');
                                return false;
                            }else{
                                vm.step = index;
                                vm.outerInfo = 1;
                                $.upDown("[shoptype='outerInfo']", ".step_title", ".step", 117);//展开收起
                            }
                        }
                        vm.step = index;
                        break;
                    case 4:
                        vm.step = index;
                        break;
                }
            },
            init: function () {
                vm.categoryListInit();
                vm.brandListInit();
                vm.fileuploaderInit();
                vm.goodstypeListInit();
            },
            goodsgalleryInit: function (index) {
                vm.goodsgalleryList.splice(index, 1);
            },

            categoryListInit: function (vo = {}, cat_level = 0) {
                vm.cat_id = vo.cat_id;
                vm.cat_name = vo.cat_name;
                vm.cat_level = cat_level;
                $.post('/admin/goods/categoryListInitAjax', {
                    cat_id: vm.cat_id,
                    cat_level: vm.cat_level,
                }, function (ret) {
                    if (ret.data.oneList) {
                        vm.categoryList.oneList = ret.data.oneList;
                    }
                    if (ret.data.twoList) {
                        vm.categoryList.twoList = ret.data.twoList;
                    }
                    if (ret.data.thrList) {
                        vm.categoryList.thrList = ret.data.thrList;
                    }
                }, 'json');
            },

            brandListInit: function (brand_first_char = '') {
                $.post('/admin/goods/brandListAjax', {
                    brand_first_char: brand_first_char,
                    brand_name: vm.brand_name,
                }, function (ret) {
                    vm.brandList = ret.data;
                }, 'json');
            },
            brandSelect:function (vo) {
                vm.info.brand_id = vo.brand_id;
                vm.brand_name = vo.brand_name;
            },

            goodstypeListInit: function (vo = {cat_name: ''}) {
                $.post('/admin/goods/goodstypeListAjax', {
                    cat_name: vo.cat_name,
                }, function (ret) {
                    vm.goodsattrList.goodstypeList = ret.data;
                }, 'json');
            },
            attributeListInit: function (vo) {
                $.post('/admin/goods/attributelistAjax', {
                    cat_id: vo.cat_id,
                }, function (ret) {
                    vm.goodsattrList.attributeList = ret.data;
                    vm.goodsattrList.productsList = [];
                }, 'json');

            },
            productsListInit: function (index, index2) {

                if (vm.goodsattrList.attributeList[index].attr_values[index2].checked) {
                    vm.goodsattrList.attributeList[index].attr_values[index2].checked = 0;
                } else {
                    vm.goodsattrList.attributeList[index].attr_values[index2].checked = 1;
                }

                //组装数组开始
                var productsList_temp = [];
                for (var i = 0; i < vm.goodsattrList.attributeList.length; i++) {
                    var productsList_item = [];
                    for (var a = 0; a < vm.goodsattrList.attributeList[i].attr_values.length; a++) {
                        if (vm.goodsattrList.attributeList[i].attr_values[a].checked) {
                            productsList_item.push(vm.goodsattrList.attributeList[i].attr_values[a].val)
                        }
                    }
                    if (productsList_item.length > 0) {
                        productsList_temp.push(productsList_item);
                    }

                }
                var productsList = getArrayByArrays(productsList_temp);

                var arr = [];
                for (var i = 0; i < productsList.length; i++) {

                    if(vm.info.goods_id > 0){
                        var product_item = {
                            tempvalue: productsList[i],
                            goods_attr: '',
                            goods_id: vm.info.goods_id,
                            product_sn: rand_str('sku-'),
                            bar_code: '',
                            product_number: 1000,
                            product_price: vm.info.shop_price,
                            product_promote_price: 0.00,
                            product_market_price: 0.00,
                            product_warn_number: 10,
                        };
                    }else{
                        var product_item = {
                            tempvalue: productsList[i],
                            goods_attr: '',
                            product_sn: rand_str('sku-'),
                            bar_code: '',
                            product_number: 1000,
                            product_price: vm.info.shop_price,
                            product_promote_price: 0.00,
                            product_market_price: 0.00,
                            product_warn_number: 10,
                        };
                    }

                    arr.push(product_item);
                }
                vm.goodsattrList.productsList = arr;
                //组装数组结束
            },
            productsListDelete:function(index){
                vm.goodsattrList.productsList.splice(index, 1);
            },

            fileuploaderInit: function () {
                layui.use('upload', function () {
                    var upload = layui.upload;
                    var originalimgUploader = upload.render({
                        elem: '#original_img',
                        url: '/admin/uploader/alioss_upload', //上传接口
                        data: {
                            upload: 1
                        },
                        accept: 'images', //允许上传的文件类型
                        acceptMime: 'image/*',
                        done: function (ret) {
                            vm.info.original_img = ret.url;
                            if (ret.state == 'SUCCESS') {
                                $.messager.show({title: '提示', msg: '操作成功', timeout: 1000, showType: 'slide'});
                            } else {
                                $.messager.show({title: '提示', msg: '操作失败', timeout: 1000, showType: 'slide'});
                            }

                        },
                    });
                    var gallerypitureUploader = upload.render({
                        elem: '#gallery_picture',
                        url: '/admin/uploader/alioss_upload',
                        multiple: true,
                        number: 10,
                        data: {
                            upload: 1
                        },
                        accept: 'images', //允许上传的文件类型
                        acceptMime: 'image/*',
                        done: function (ret) {
                            vm.goodsgalleryList.push({
                                img_original: ret.url,
                                img_sort: 0,
                                external_url: '',
                            });
                        },
                    });
                });
            },

            //入库操作
            goodsadd:function () {
                vm.info.cat_id = vm.cat_id;
                vm.info.is_on_sale = $("input:hidden[name='is_on_sale']").val();
                vm.info.is_alone_sale = $("input:hidden[name='is_alone_sale']").val();
                vm.info.is_shipping = $("input:hidden[name='is_shipping']").val();
                vm.info.goods_desc = get_editor_content('goods_desc');

                $.post('/admin/goods/libgoodsadd', {
                    pageparm: JSON.stringify(vm.info),
                    goodsattrList: JSON.stringify(vm.goodsattrList),
                    goodsgalleryList: JSON.stringify(vm.goodsgalleryList),
                }, function (ret) {
                    $.messager.progress('close');
                    if (ret.status == 1) {
                        $.messager.show({title: '提示', msg: ret.msg, timeout: 3000, showType: 'slide'});
                    } else {
                        $.messager.alert('提示', ret.msg, 'warning');
                    }
                }, 'json');
            }
        }
    });
    $(function () {
        vm.init();
        ueditorInit('goods_desc');
        setTimeout(function () {
            UE.getEditor('goods_desc').setContent('{$goods_desc|raw}');
        },300);
    });
</script>

