<!DOCTYPE html>
<html lang="zh-CN">
{include file="public:head"}
<body class="iframe_body">
<div class="warpper" id="app">
    <div class="content">
        <div class="tabs_info">
            <ul>
                <li>
                    <a href="javascript:void(0)" onclick="parent.addParentTab({title: '品牌管理', href: '/admin/goods/brandlist'})">品牌管理</a>
                </li>
                <li class="curr">
                    <a href="javascript:void(0)" onclick="parent.addParentTab({title: '商家品牌', href: '/admin/goods/storebrand'})">商家品牌</a>
                </li>
            </ul>
        </div>
        <div class="explanation" id="explanation">
            <div class="ex_tit">
                <i class="sc_icon"></i>
                <h4>操作提示</h4>
                <span class="explanationZoom" title="收起提示"></span>
            </div>
            <ul>
                <li>展示了店铺申请的品牌相关信息。</li>
                <li>可以通过品牌关键字搜索相关品牌信息。</li>
            </ul>
        </div>
        <div class="flexilist">
            <div class="common-head">
                <div class="fl">
                    <a href="javascript:void(0)" @click="setinitials()">
                        <div class="fbutton">
                            <div class="add" title="生成品牌首字母">
                                <span>
                                    <i class="icon icon-plus"></i>
                                    生成品牌首字母
                                </span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="refresh">
                    <div class="refresh_tit" title="刷新数据" @click="pageFreash()">
                        <i class="icon icon-refresh"></i>
                    </div>
                    <div class="refresh_span">刷新 - 共{{count}}条记录</div>
                </div>
                <div class="search">
                    <div class="input">
                        <input type="text" name="brand_name" class="text nofocus" placeholder="品牌名称"
                               v-model="keywords">
                        <input type="submit" class="btn" name="secrch_btn" shoptype="secrch_btn" value=""
                               @click="secrchInit()">
                    </div>
                </div>
            </div>
            <div class="common-content">
                <div class="list-div" id="listDiv">
                    <table cellpadding="0" cellspacing="0" border="0">
                        <thead>
                        <tr>
                            <th width="5%">
                                <div class="tDiv">编号</div>
                            </th>
                            <th width="12%">
                                <div class="tDiv">品牌中文名称</div>
                            </th>
                            <th width="12%">
                                <div class="tDiv">品牌英文名称</div>
                            </th>
                            <th width="12%">
                                <div class="tDiv">品牌首字母</div>
                            </th>
                            <th width="8%">
                                <div class="tDiv">品牌图片</div>
                            </th>
                            <th width="20%">
                                <div class="tDiv">审核备注</div>
                            </th>
                            <th width="6%">
                                <div class="tDiv">审核状态</div>
                            </th>
                            <th width="10%" class="handle">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                            <template v-for="(vo,index) in list">
                                <tr>
                                    <td>
                                        <div class="tDiv">{{vo.apply_id}}</div>
                                    </td>
                                    <td>
                                        <div class="tDiv">
                                            <span>{{vo.brand_name}}</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="tDiv">{{vo.brand_letter}}</div>
                                    </td>
                                    <td>
                                        <div class="tDiv">{{vo.brand_first_char}}</div>
                                    </td>
                                    <td>
                                        <div class="tDiv">
                                            <span class="show">
                                                <a :href="vo.brand_logo"
                                                   class="nyroModal">
                                                    <i class="icon icon-picture" :data-tooltipimg="vo.brand_logo" shoptype="tooltip" title="tooltip"></i>
                                                </a>
                                            </span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="tDiv">
                                            <input name="sort_order" class="text w300" v-model="vo.remark"
                                                   @keyup.enter="doupdate(vo)" type="text">
                                        </div>
                                    </td>
                                    <td>
                                        <div class="tDiv">
                                            <div class="switch" :class="{'active':vo.audit_status==1}" title="是"
                                                 @click="auditStorebrand(vo)">
                                                <div class="circle"></div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="handle">
                                        <div class="tDiv a2">
                                            <a href="javascript:void(0)" class="btn_edit" @click="brandaddupdate(vo)">
                                                <i class="icon icon-edit"></i>编辑
                                            </a>
                                            <a href="javascript:;" @click="brandupdateDelete(vo,index)" class="btn_trash">
                                                <i class="icon icon-trash"></i>删除
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </template>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="12">
                                <div class="list-page">
                                    <div id="turn-page"></div>
                                </div>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script>
    var vm = new Vue({
        el: '#app',
        data: {
            page: 1,
            rows: 10,
            count: 0,
            keywords: '',
            list: []
        },
        methods: {
            pageFreash: function () {
                vm.page = 1;
                vm.rows = 10;
                vm.count = 0;
                vm.keywords = '';
                vm.init();
            },
            secrchInit: function () {
                vm.page = 1;
                vm.rows = 10;
                vm.count = 0;
                vm.init();
            },
            init: function () {
                $.post('/admin/goods/storebrand', {
                    page: vm.page,
                    rows: vm.rows,
                    keywords: vm.keywords,
                }, function (ret) {
                    vm.list = ret.data.list;
                    vm.count = ret.data.total;
                    if (vm.page == 1) {
                        pageinit();
                    }
                    setTimeout(function () {
                        $('.nyroModal').nyroModal();
                        $.tooltipimg();
                    },300);
                }, 'json');
            },
            doupdate: function (vo) {
                majax('/admin/goods/doupdate', vo,'store_brand_apply')
            },
            brandupdateDelete: function (vo, index) {
                $.messager.confirm('提示', '确定删除吗？', function (r) {
                    if (r == true) {
                        var is_delete = vo.is_delete == 0 ? 1 : 0;
                        var pageparm = vo;
                        pageparm.is_delete = is_delete;
                        $.post('/admin/goods/doupdate', {
                            pageparm: JSON.stringify(pageparm),
                            table: 'store_brand_apply'
                        }, function (ret) {
                            $.messager.progress('close');
                            if (ret.status == 1) {
                                vm.list.splice(index, 1);
                                $.messager.show({title: '提示', msg: ret.msg, timeout: 3000, showType: 'slide'});
                            } else {
                                $.messager.alert('提示', ret.msg, 'warning');
                            }
                        }, 'json');
                    }
                });
            },
            brandaddupdate: function (vo) {
                window.parent.addParentTab({title: '编辑品牌', href: '/admin/goods/brandadd?brand_id=' + vo.brand_id});
            },
            setinitials:function () {
                $.iMessager.progress({text: '批量更新中，请等待'});
                $.post('/admin/goods/setinitials', {
                    table: 'store_brand_apply'
                }, function (ret) {
                    $.messager.progress('close');
                    if (ret.status == 1) {
                        $.messager.show({title: '提示', msg: ret.msg, timeout: 2000, showType: 'slide'});
                        vm.pageFreash();
                    } else {
                        $.messager.alert('提示', ret.msg, 'warning');
                    }
                }, 'json');
            },
            auditStorebrand: function (vo) {
                var pageparm = JSON.parse(JSON.stringify(vo));
                var audit_status = vo.audit_status == 0 ? 1 : 0;
                pageparm.audit_status = audit_status;
                majax('/admin/goods/auditStorebrand', pageparm,'store_brand_apply')
            }
        },
    });
    $(function () {
        vm.init();
    });
</script>
