<div class="ecsc-layout-left">
    <div class="sidebar" id="sidebar">
        <div class="column-menu">
            <ul class="seller_center_left_menu">
                {volist name="$menu.left" id="vo"}
                {if $vo.show}
                <li class="{if ($key==$Request.action) || (isset($vo.group) && in_array($Request.action,$vo.group))}current{/if}"><a href="{:url($Request.controller.'/'.$key)}"> {$vo.title} </a>
                    <div class="arrow"></div>
                </li>
                {/if}
                {/volist}
            </ul>
        </div>
    </div>
</div>