/.idea
/.vscode
vendor
*.log
/thinkphp
.env
.DS_Store
/public/vue.js
201703
thinkphp
/runtime
/config/app.php
uploads
/phpinfo.php
/composer.lock
/config/database.php
.well-known
/apk
apk
*.htaccess
/config/apiclient_cert.pem
/config/apiclient_key.pem
