<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>商家管理中心</title>
    <link type="text/css" href="/topjui/css/topjui.core.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/public/static/css/iconfont.css"/>
    <link rel="stylesheet" type="text/css" href="/public/static/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="/public/static/plugins/layui/css/layui.css"/>
    <link rel="stylesheet" type="text/css" href="/public/static/css/seller/general.css"/>
    <link rel="stylesheet" type="text/css" href="/public/static/css/seller/style.css"/>
    <link rel="stylesheet" type="text/css" href="/public/static/css/seller/seller.css"/>

    <script type="text/javascript" src="/public/static/plugins/jquery/jquery.min.js"></script>

    <script type="text/javascript" src="/public/static/js/topjui.config.js"></script>
    <script type="text/javascript" src="/topjui/js/topjui.core.min.js"></script>
    <script type="text/javascript" src="/topjui/js/locale/topjui.lang.zh_CN.js"></script>

    <script type="text/javascript" src="/public/static/plugins/layui/layui.all.js"></script>
    <script type="text/javascript" src="/public/static/plugins/qiniu/qiniu.min.js"></script>
    <script type="text/javascript" src="/public/static/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="/public/static/js/jquery.validation.min.js"></script>
    <script type="text/javascript" src="/public/static/plugins/moment/moment.min.js"></script>
    <script type="text/javascript" src="/public/static/js/function.js"></script>
    <script type="text/javascript" src="/public/static/js/seller.js"></script>
    <script type="text/javascript" src="/public/static/js/perfect-scrollbar.min.js"></script>
    <script type="text/javascript" src="/public/static/js/lib_ecmobanFunc.js"></script>
    <script type="text/javascript" src="/public/static/js/vue.js"></script>
</head>
{include file='public/topnav'}


<div class="list-div" style="text-align:center;">
    <div class="fh_message">
        <div class="fr_content">
            <div class="img">
                <i class="fh_icon <?php if ($code==1) echo ' information';else echo ' confirm'; ?>"></i>
            </div>
            <h3 class="information">{$msg}</h3>
            <span class="ts" id="redirectionMsg"><span id="wait">{$wait}</span> 秒后自动跳转到<a id="href" href="{$url}">{if $code==1} {$url}{else /} 前一个页面{/if}</a></span>
            <ul class="msg-link" style="text-align: center">
                <li><a href="javascript:history.back()">返回上一页</a></li>
            </ul>
        </div>
    </div>
</div>

<div>
    <div>
        <div>
            <div>

                <script>
                    (function () {
                        var wait = document.getElementById('wait'),
                            href = document.getElementById('href').href;
                        var interval = setInterval(function () {
                            var time = --wait.innerHTML;
                            if (time <= 0) {
                                location.href = href;
                                clearInterval(interval);
                            }
                        }, 1000);
                    })();
                </script>
                {include file="public/footer"}