<!DOCTYPE html>
<html lang="zh-CN">
{include file="public:head"}
<body class="iframe_body">
<div class="warpper" id="app">
    <div class="content">
        <div class="explanation" id="explanation">
            <div class="ex_tit"><i class="sc_icon"></i><h4>操作提示</h4><span class="explanationZoom" title="收起提示"></span>
            </div>
            <ul>
                <li>提现操作，财务合适数据后可以批准通过，谨慎操作。</li>
            </ul>
        </div>
        <div class="flexilist">
            <div class="common-content">
                <div class="mian-info">
                    <div class="switch_info business_info">
                        <div class="step">
                            <div class="tit"><h4>商户基本信息</h4></div>
                            <div class="items">
                                <div class="item">
                                    <div class="label">商户：</div>
                                    <div class="value">
                                        <input class="text" type="text" value="" size="20" v-model="info.store_name" disabled>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="label">店铺标签：</div>
                                    <div class="value">
                                        <input class="text" type="text" value="" size="20" v-model="info.store_keyword" disabled>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="label">标题：</div>
                                    <div class="value">
                                        <textarea class="textarea" v-model="info.store_subtitle" disabled></textarea>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="label">详细地址：</div>
                                    <div class="value">
                                        <textarea class="textarea" disabled>{{info.addressTemp}}{{info.store_address}}</textarea>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="label">账户名称：</div>
                                    <div class="value">
                                        <input class="text" type="text" value="" size="20" v-model="info.account_name" disabled>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="label">开户支行：</div>
                                    <div class="value">
                                        <input class="text" type="text" value="" size="20" v-model="info.bank_name" disabled>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="label">开户账户：</div>
                                    <div class="value">
                                        <input class="text" type="text" value="" size="20" v-model="info.bank_card" disabled>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="label">银行预留手机号：</div>
                                    <div class="value">
                                        <input class="text" type="text" value="" size="20" v-model="info.bank_mobile" disabled>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="label">账户余额：</div>
                                    <div class="value">
                                        <input class="text" type="text" value="" size="20" v-model="info.seller_money" disabled>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="label">冻结金额：</div>
                                    <div class="value">
                                        <input class="text" type="text" value="" size="20" v-model="info.frozen_money" disabled>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="label">待结算金额：</div>
                                    <div class="value">
                                        <input class="text" type="text" value="" size="20" v-model="info.pendding_money" disabled>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="label">保证金：</div>
                                    <div class="value">
                                        <input class="text" type="text" value="" size="20" v-model="info.credit_money" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="step">
                            <div class="tit"><h4>管理员操作</h4></div>
                            <div class="items items_w60">
                                <div class="item">
                                    <div class="label">提现金额：</div>
                                    <div class="value">
                                        <input class="text" type="text" value="" size="20" v-model="info.amount" disabled>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="label">提现处理：</div>
                                    <div class="value">
                                        <div class="checkbox_items">
                                            <div class="checkbox_item">
                                                <input type="radio" v-model="is_paid" value="1"
                                                       id="shopname_audit_1" class="ui-radio">
                                                <label for="shopname_audit_1" class="ui-radio-label">已完成</label>
                                            </div>
                                            <div class="checkbox_item">
                                                <input type="radio" v-model="is_paid" value="2"
                                                       id="shopname_audit_2" class="ui-radio">
                                                <label for="shopname_audit_2" class="ui-radio-label">已拒绝</label>
                                            </div>
                                            <font class="red">财务核算后，谨慎操作</font>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="label">备注：</div>
                                    <div class="value">
                                        <textarea class="textarea" v-model="reject_note" placeholder="管理员备注（可选项）"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <template v-if="info.type==1">
                            <div class="step">
                                <div class="items">
                                    <div class="item">
                                        <div class="label">&nbsp;</div>
                                        <div class="value info_btn">
                                            <input name="numAdd" value="1" id="numAdd" type="hidden">
                                            <input type="submit" value=" 确定 " class="button" id="submitBtn" @click="init()">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </template>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
<script>
    var info = {$info|raw};
    var log_id = '{$log_id}';
    var vm = new Vue({
        el: '#app',
        data: {
            info: info,
            reject_note: '',
            is_paid: '',
            log_id: log_id,
        },
        methods: {
            init: function () {
                $.post('/admin/finance/withdoing', {
                    reject_note: vm.reject_note,
                    is_paid: vm.is_paid,
                    log_id: vm.log_id,
                }, function (ret) {

                	if (ret.status == 1) {
                		$.messager.show({title: '提示', msg: ret.msg, timeout: 3000, showType: 'slide'});
                	} else {
                		$.messager.alert('提示', ret.msg, 'warning');
                	}
                }, 'json');
            }
        }
    });
</script>
