<!DOCTYPE html>
<html lang="zh-CN">
{include file="public:head"}
<body class="iframe_body">
<div class="warpper">
    <div class="content">
        <div class="flexilist mt0">
            <div class="common-content">
                <div class="mian-info">
                    <div class="mkc_content">
                        <div class="mkc_dl mck_one">
                            <div class="mkc_dt">平台活动</div>
                            <div class="mkc_dd">
                                <ul>
                                    <li class="hide">
                                        <a href="javascript:void(0);" data-url="wholesale.php?act=list" data-param="menushopping|13_wholesale" shoptype="iframeHref">
                                            <em>
                                                <i class="iconfont icon-wholesale"></i>
                                            </em>
                                            <div class="info">
                                                <h2>批发管理</h2>
                                                <span>添加批发管理</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" data-url="topic.php?act=list"
                                           data-param="menushopping|09_topic" shoptype="iframeHref">
                                            <em>
                                                <i class="iconfont icon-home-renovation"></i>
                                            </em>
                                            <div class="info">
                                                <h2>专题管理</h2>
                                                <span>通过可视化进行装修专题</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="hide">
                                        <a href="javascript:void(0);" data-url="favourable.php?act=list" data-param="menushopping|12_favourable" shoptype="iframeHref">
                                            <em>
                                                <i class="iconfont icon-discount"></i>
                                            </em>
                                            <div class="info">
                                                <h2>优惠活动</h2>
                                                <span>设置优惠活动时间</span>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="mkc_dl mck_two">
                            <div class="mkc_dt">交易玩法</div>
                            <div class="mkc_dd">
                                <ul>
                                    <li class="hide">
                                        <a href="javascript:void(0);" data-url="auction.php?act=list" data-param="menushopping|10_auction" shoptype="iframeHref">
                                            <em>
                                                <i class="iconfont icon-auction"></i>
                                            </em>
                                            <div class="info">
                                                <h2>拍卖</h2>
                                                <span>设置拍卖活动</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="hide">
                                        <a href="javascript:void(0);" data-url="snatch.php?act=list" data-param="menushopping|02_snatch_list" shoptype="iframeHref">
                                            <em>
                                                <i class="iconfont icon-tag-alt"></i>
                                            </em>
                                            <div class="info">
                                                <h2>夺宝奇兵</h2>
                                                <span>夺宝奇兵活动设置</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" data-url="group_buy.php?act=list" data-param="menushopping|08_group_buy" shoptype="iframeHref">
                                            <em>
                                                <i class="iconfont icon-group-alt"></i>
                                            </em>
                                            <div class="info">
                                                <h2>团购</h2>
                                                <span>设置团购活动</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" data-url="seckill.php?act=list" data-param="menushopping|03_seckill_list" shoptype="iframeHref">
                                            <em>
                                                <i class="iconfont icon-seckill"></i>
                                            </em>
                                            <div class="info">
                                                <h2>秒杀活动</h2>
                                                <span>商品按照时间进行秒杀</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" data-url="exchange_goods.php?act=list" data-param="menushopping|15_exchange_goods" shoptype="iframeHref">
                                            <em>
                                                <i class="iconfont icon-exchange-alt"></i>
                                            </em>
                                            <div class="info">
                                                <h2>积分商城</h2>
                                                <span>通过积分兑换商品</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="hide">
                                        <a href="javascript:void(0);" data-url="presale.php?act=list" data-param="menushopping|16_presale" shoptype="iframeHref">
                                            <em>
                                                <i class="iconfont icon-presale"></i>
                                            </em>
                                            <div class="info">
                                                <h2>预售</h2>
                                                <span>添加预售商品活动</span>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="mkc_dl mck_three">
                            <div class="mkc_dt">红包卡券</div>
                            <div class="mkc_dd">
                                <ul>
                                    <li class="hide">
                                        <a href="javascript:void(0);" data-url="bonus.php?act=list" data-param="menushopping|04_bonustype_list" shoptype="iframeHref">
                                            <em>
                                                <i class="iconfont icon-bonus"></i>
                                            </em>
                                            <div class="info">
                                                <h2>红包</h2>
                                                <span>添加发放红包类型</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="hide">
                                        <a href="javascript:void(0);" data-url="package.php?act=list" data-param="menushopping|14_package_list" shoptype="iframeHref">
                                            <em>
                                                <i class="iconfont icon-package-two"></i>
                                            </em>
                                            <div class="info">
                                                <h2>超值礼包</h2>
                                                <span>多种商品组合成礼包价格</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" data-url="/admin/market/coupon" data-param="menushopping|15_coupon" shoptype="iframeHref">
                                            <em>
                                                <i class="iconfont icon-coupon"></i>
                                            </em>
                                            <div class="info">
                                                <h2>优惠券</h2>
                                                <span>优惠券的领取和发放</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="hide">
                                        <a href="javascript:void(0);" data-url="value_card.php?act=list" data-param="menushopping|18_value_card" shoptype="iframeHref">
                                            <em>
                                                <i class="iconfont icon-value-card"></i>
                                            </em>
                                            <div class="info">
                                                <h2>储值卡</h2>
                                                <span>平台向消费者发放的储值卡</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="hide">
                                        <a href="javascript:void(0);" data-url="gift_gard.php?act=list" data-param="menushopping|gift_gard_list" shoptype="iframeHref">
                                            <em>
                                                <i class="iconfont icon-gift-card"></i>
                                            </em>
                                            <div class="info">
                                                <h2>礼品卡列表</h2>
                                                <span>提高客户复购率</span>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

<script>
    var vm = new Vue({
        el: '#app',
        data: {
            page: 1,
            rows: 10,
            count: 0,
            keywords: '',
            list: [],

            all_list: [],
            checkboxitem: 'checkbox_',

            ids: [],

        },
        methods: {
            add: function (vo = {}) {
                if (vo.user_id) {
                    window.parent.addParentTab(
                        {
                            title: '编辑会员',
                            href: '/admin/user/useradd?user_id=' + vo.user_id
                        }
                    );
                } else {
                    window.parent.addParentTab(
                        {
                            title: '添加会员',
                            href: '/admin/user/useradd'
                        }
                    );
                }
            },
            doupdate:function(vo){

                $.messager.prompt('修改管理员登录密码', '请输入密码:', function(password){
                    if (password){
                        vo.password = password;
                        $.post('/admin/user/userupdatePwd', {
                            pageparm: JSON.stringify(vo)
                        }, function (ret) {
                            $.messager.progress('close');
                            if (ret.status == 1) {
                                $.messager.show({title: '提示', msg: ret.msg, timeout: 3000, showType: 'slide'});
                            } else {
                                $.messager.alert('提示', ret.msg, 'warning');
                            }
                        }, 'json');
                    }
                });
            },
            pageFreash: function () {
                vm.page = 1;
                vm.rows = 10;
                vm.count = 0;
                vm.keywords = '';
                vm.init();
            },
            secrchInit: function () {
                vm.page = 1;
                vm.rows = 10;
                vm.count = 0;
                vm.init();
            },
            dodelete: function (index) {
                $.messager.confirm('提示', '确定删除吗？', function (r) {
                    if (r == true) {
                        $.post('/admin/user/dodelete', {
                            pageparm: JSON.stringify(vm.list[index]),
                            table: 'user'
                        }, function (ret) {
                            if (ret.status == 1) {
                                vm.list.splice(index, 1);
                                $.messager.show({title: '提示', msg: ret.msg, timeout: 3000, showType: 'slide'});
                            } else {
                                $.messager.alert('提示', ret.msg, 'warning');
                            }
                        }, 'json');
                    }
                });
            },
            init: function () {
                $.post('/admin/user/index', {
                    page: vm.page,
                    rows: vm.rows,
                    keywords: vm.keywords,
                }, function (ret) {
                    vm.list = ret.data.list;
                    vm.count = ret.data.total;
                    if (vm.page == 1) {
                        vm.pageinit();
                    }
                }, 'json');
            },
            pageinit: function () {
                layui.use('laypage', function () {
                    var laypage = layui.laypage;
                    laypage.render({
                        elem: 'turn-page', //注意，这里的 test1 是 ID，不用加 # 号
                        count: vm.count, //数据总数，从服务端得到
                        limit: vm.rows,
                        limits: [10, 20, 30, 40, 50],
                        groups: 5,
                        theme: '#62b3ff',
                        layout: ['prev', 'page', 'next'],
                        jump: function (obj, first) {
                            vm.page = obj.curr;
                            vm.rows = obj.limit;
                            if (!first) {
                                vm.init();
                            }
                        }
                    });
                });
            },
            doalldelete: function () {
                var arr = new Array();
                $(".list-div").find("input[name='checkboxes[]']:checked").each(function (i) {
                    arr[i] = $(this).val();
                });
                vm.ids = arr.join(",");
                $.messager.confirm('提示', '确定操作吗？', function (r) {
                    if (r == true) {
                        $.post('/admin/user/doalldelete', {
                            ids: vm.ids,
                            table: 'user'
                        }, function (ret) {
                            if (ret.status == 1) {
                                vm.log_ids = [];
                                vm.pageFreash();
                                $.messager.show({title: '提示', msg: ret.msg, timeout: 3000, showType: 'slide'});
                            } else {
                                $.messager.alert('提示', ret.msg, 'warning');
                            }
                        }, 'json');
                    }
                });
            }
        }
    });
    $(function () {
        vm.init();
    });
</script>
